<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <p>index page</p>
        <a class="btn btn-success edit" href="../books">Books</a>
    </body>
</html>